{% extends "users/base.html" %}
{% block title %}Logout{% endblock title %} {% block content %}
<div class="row p-5">
  <div class="row justify-content-center">
    <div class="card" style="width: 70vw">
      <div class="card-body">
        <h5 class="card-title">You have been logged out</h5>
        <p class="card-text">
          Thanks for your time, contact me for any comments or suggestions using my
          email address.
        </p>
        <br />
        <hr />
        <a href="{% url 'login' %}" class="btn btn-primary">Sign in again</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

